
<ul>
    {% if user.is_authenticated %}
    <li>
        <a href="{% url 'auth:update' %}">
            {{ user.first_name|title|default:'User' }} {{ user.last_name|title|default:'User' }}
        </a>
    </li>
    {% endif %}
    <li>
        {% if user.is_authenticated %}
            {% if user.is_superuser %}
            <li>
                <a href="{% url 'my_admin:index' %}">
                    Administration
                </a>
            </li>
            {% endif %}
        <a href="{% url 'auth:logout' %}">
            Log out
        </a>
        {% else %}
        <a href="{% url 'auth:login' %}">
            Log in
        </a>
        {% endif %}

    </li>
</ul>

<nav class="amado-nav">
    <ul>
        {% for link in links_menu %}
        <li class="{% if request.resolver_match.view_name == link.href %}
                            active
                            {% endif %}">
            {% if link.href == 'main:shop' %}
            <a href="{% url link.href 1 %}"> {{link.name}}</a>
            {% elif link.href == 'main:index' %}
            <a href="{% url link.href %}"> {{link.name}}</a>
            {% elif link.href == 'basket:view' %}
            <a href="{% url link.href %}"> {{link.name}}
                {% if basket %}
                    ( {{basket.0.total.total_quantity}}: {{basket.0.total.total_cost}} $ )
                {% endif %}</a>
            {% else %}
            <a href="{% url link.href %}"> {{link.name}}</a>
            {% endif %}

        </li>
        {% endfor %}

    </ul>
</nav>